* {
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background: url(../imagens/fundo-madeira.jpg) no-repeat top center;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}


#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url('../imagens/frame-iphone2.png') no-repeat;

    height: 500px;
    width: 248px;
}

#tela {
    position: relative;
    top: 64px;
    left: 18px;
    width: 213px;
    height: 375px;
}

#redes-sociais {
    text-align: right;
}

#redes-sociais img {
    width: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.349);
    box-sizing: border-box;
}

#redes-sociais img:hover {
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.397);
    transition: transform .3s, border .3s;
}